body{
    background-image: url('picture/pexels-photo-3184454.jpeg');
    background-repeat: no-repeat;
   background-size: cover;

    align-content: center;
}

/*styling the container with the form*/
.container{


    background-color: black;
    opacity:.8;

  
   
    background-position-x: center;
    max-width: 60%;

    
    color:whitesmoke;
    border-radius: 15px;
    border-width: 5px;
    border-style: inset;
    border-color:whitesmoke;

}
/*styling the text area of the input*/
input[textarea]{

    border-radius: 5px;
    width: auto;
}
/*Button styling after inside the form*/

.Button1
{
border-radius: 10px;
    background-color:tomato;
    width: 70px;
    height:40px;

}
.Button1:hover{
    background-color: black;
    color:tomato;
    border-radius: 10px;
    
}
